span.fieldfilter,
span.fieldfilter span {
  display: block;
}

.fieldfilter.left {
  float: left;
  margin-right: .5em;
  max-width: 100%; /* Fluid images */
}

.fieldfilter.right {
  float: right;
  margin: 0 0 0 .5em;
}

.fieldfilter.center {
  float: none;
  margin: 0;
  text-align: center;
}

.fieldfilter.h {
  max-width: 50%;
}

.fieldfilter .caption {
  font-size: .9em;
  font-style: italic;
}

.fieldfilter .caption em,
.fieldfilter .caption i {
  font-style: normal;
}

.fieldfilter img {
  max-width: 100%; /* Fluid images */
}